.header {
    margin-top: 45px;
    border-bottom-color: rgba(84, 84, 84, 0.7);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
}

@media screen and (max-width: 620px) {
    .header {
        margin-top: 45px;
        border-bottom-color: rgba(84, 84, 84, 0.7);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        box-sizing: border-box;
    }
}